@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap");

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Montserrat", sans-serif;
  background-color: #101e33;
  color: white;
}

::-webkit-scrollbar {
  width: 6px;
  border-radius: 10rem;
}
::-webkit-scrollbar-thumb {
  background-color: #ffffff;
  border-radius: 10rem;
}
